In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('../../data/indeed-scraped-job-postings.csv')

In [3]:
df.dropna(inplace=True)
df.drop(['salary'], axis=1, inplace=True)

In [4]:
mean = df.parsed_salary.mean()
mean

107762.69581280788

In [5]:
df['above_107k'] = df.parsed_salary.apply(lambda x: 1 if x > mean else 0)

In [6]:
df['above_107k'].value_counts()

0    217
1    189
Name: above_107k, dtype: int64

In [7]:
df.summary = df.summary.str.replace((',|/|\(|\)'),(' ')).str.strip().str.lower()
df.title = df.title.str.replace((',|/|\(|\)'),(' ')).str.strip().str.lower()

In [8]:
ds_tools = 'R SQL Python ML NLP C Algorithms Algorithm Algo MYSQL \
CNUP JS Java Erlang Impala Geospatial Hadoop SAS Java Hive \
Matlab Pig UNIX Linux Ruby SPSS Tableau Excel AWS \
SVP API Spark Scala awk Cassandra JavaScript Storm Cloud Agile'

In [9]:
ds_tools = ds_tools.lower().split()

In [10]:
import re
pattern = re.compile(r'\b(' + r'|'.join(ds_tools) + r')\b\s*')

df['language'] = df['summary'].str.findall(pattern)
df['language_t'] = df['title'].str.findall(pattern)

In [11]:
level = ['senior','sr.','junior','jr.','lead','vp','vice president', 'avp','assistant',
         'asst.','director','dir','staff','master','masters','postdoc','manager','mid-level',
         'postdoctoral','post-doctoral','deputy','associate','entry level',' 1 ',' 2 ',' 3 ',
         ' iv ',' iii ',' ii ',' i ','phd','fellow','head','supervisory','snr','chief',
         'specialist','ms','consultant','consultants']

pattern = '(%s)' % '|'.join(level)
df['levels'] = df['title'].str.findall(pattern)

In [12]:
df['levels'] = df['levels'].apply(lambda x: '-'.join(x))
df['levels'].unique()

array(['', 'senior', 'assistant', 'specialist', 'manager',
       'assistant-manager', 'sr.', 'postdoc', 'entry level', 'lead',
       'director', 'staff', 'master', 'ms', 'associate', 'sr.-consultant',
       'ms-phd', 'mid-level', 'senior-manager', 'vp', 'avp', ' 3 ',
       'senior-director', 'post-doctoral', ' iii ', 'deputy-director',
       'ms-manager', 'assistant- i ', 'junior', 'postdoc-fellow',
       'senior-staff-assistant', 'senior-lead', 'postdoc-associate',
       'senior-ms', 'jr.', 'manager-ms', 'asst.-director', 'chief', 'phd',
       'junior-mid-level', 'phd-ms', ' iv ', ' ii ',
       'senior-staff-director', 'specialist- i ', 'head', 'vice president',
       'supervisory', 'dir', 'snr'], dtype=object)

In [13]:
df['levels'] = np.where(df['levels'] =='sr.', 'senior', df['levels'])
df['levels'] = np.where(df['levels'] =='jr.', 'junior', df['levels'])
df['levels'] = np.where(df['levels'] =='post-doctoral','postdoc', df['levels'])
df['levels'] = np.where(df['levels'] =='entry level', 'assistant', df['levels'])
df['levels'] = np.where(df['levels'] =='avp', 'assistant', df['levels'])
df['levels'] = np.where(df['levels'] ==' 3 ', 'junior', df['levels'])
df['levels'] = np.where(df['levels'] ==' iv ', 'senior', df['levels'])
df['levels'] = np.where(df['levels'] =='assistant- i ', 'assistant', df['levels'])
df['levels'] = np.where(df['levels'] =='specialist- i ', 'assistant', df['levels'])
df['levels'] = np.where(df['levels'] ==' ii ', 'junior', df['levels'])
df['levels'] = np.where(df['levels'] ==' iii ', 'junior', df['levels'])
df['levels'] = np.where(df['levels'] =='mid-level', 'junior', df['levels'])
df['levels'] = np.where(df['levels'] =='vice president', 'vp', df['levels'])
df['levels'] = np.where(df['levels'] =='dir', 'director', df['levels'])
df['levels'] = np.where(df['levels'] =='asst.-director', 'assistant', df['levels'])
df['levels'] = np.where(df['levels'] =='snr', 'senior', df['levels'])
df['levels'] = np.where(df['levels'] =='ms', 'master', df['levels'])
df['levels'] = np.where(df['levels'] =='ms-phd', 'master-phd', df['levels'])
df['levels'] = np.where(df['levels'] =='phd-ms', 'master-phd', df['levels'])
df['levels'] = np.where(df['levels'] =='ms-manager', 'manager', df['levels'])
df['levels'] = np.where(df['levels'] =='manager-ms', 'manager', df['levels'])
df['levels'] = np.where(df['levels'] =='senior-ms', 'senior', df['levels'])
df['levels'] = np.where(df['levels'] =='sr.-consultant', 'senior', df['levels'])

In [14]:
df['senior'] = df[
    'levels'].apply(lambda x: 1 if re.findall('senior',x) else 0)
df['junior'] = df[
    'levels'].apply(lambda x: 1 if re.findall('junior',x) else 0)
df['manager'] = df[
    'levels'].apply(lambda x: 1 if re.findall('manager',x) else 0)
df['assistant'] = df[
    'levels'].apply(lambda x: 1 if re.findall('assistant',x) else 0)
df['director'] = df[
    'levels'].apply(lambda x: 1 if re.findall('director',x) else 0)
df['associate'] = df[
    'levels'].apply(lambda x: 1 if re.findall('associate',x) else 0)
df['vp'] = df[
    'levels'].apply(lambda x: 1 if re.findall('vp',x) else 0)
df['master'] = df[
    'levels'].apply(lambda x: 1 if re.findall('master',x) else 0)
df['phd'] = df[
    'levels'].apply(lambda x: 1 if re.findall('phd',x) else 0)

In [15]:
patterns = ['big.data','bi data','data scien+','analy+','statist+',
            'enginee+','deep l+','machine l+','developer','programmer',
            'op+','devop+','developm+','gs','natural language processing','nlp','full stack']

In [16]:
pattern = '(%s)' % '|'.join(patterns)
df['words'] = df['summary'].str.findall(pattern)
df['words_t'] = df['title'].str.findall(pattern)

In [17]:
df['words'] = df['words'] + df['words_t']
df['language'] = df['language'] + df['language_t']

In [18]:
df['words'] = df['language'] + df['words']
df['words'] = df['words'].str.join(' ')

In [19]:
df.drop(['language_t','words_t','language'],axis=1,inplace=True)

In [20]:
big_data = ['big.data','bi data']
pattern = '(%s)' % '|'.join(big_data)

df['big_data'] = df['words'].apply(lambda x: 1 if re.findall(pattern,x) else 0)
df['data_scientist'] = df['words'].apply(lambda x: 1 if re.findall('data scien+',x) else 0)
df['analyst'] = df['words'].apply(lambda x: 1 if re.findall('analy+',x) else 0)
df['statistic'] = df['words'].apply(lambda x: 1 if re.findall('statist+',x) else 0)
df['engineer'] = df['words'].apply(lambda x: 1 if re.findall('enginee+',x) else 0)
df['deep_learning'] = df['words'].apply(lambda x: 1 if re.findall('deep l+',x) else 0)
df['machine_learning'] = df[
    'words'].apply(lambda x: 1 if re.findall('machine l+',x) else 0)
df['developer'] = df[
    'words'].apply(lambda x: 1 if re.findall('developer',x) else 0)
df['programmer'] = df[
    'words'].apply(lambda x: 1 if re.findall('programmer',x) else 0)
df['operations'] = df[
    'words'].apply(lambda x: 1 if re.findall('op+',x) else 0)
df['devops'] = df[
    'words'].apply(lambda x: 1 if re.findall('devop+',x) else 0)
df['development'] = df[
    'words'].apply(lambda x: 1 if re.findall('developm+',x) else 0)
df['government'] = df[
    'words'].apply(lambda x: 1 if re.findall('gs',x) else 0)
df['nlp'] = df[
    'words'].apply(lambda x: 1 if re.findall('natural language processing|nlp',x) else 0)
df['full_stack'] = df[
    'words'].apply(lambda x: 1 if re.findall('full stack',x) else 0)
df['r'] = df[
    'words'].apply(lambda x: 1 if re.findall('r',x) else 0)
df['sql'] = df[
    'words'].apply(lambda x: 1 if re.findall('sql',x) else 0)
df['python'] = df[
    'words'].apply(lambda x: 1 if re.findall('python',x) else 0)
df['ml'] = df[
    'words'].apply(lambda x: 1 if re.findall('ml',x) else 0)
df['c++'] = df[
    'words'].apply(lambda x: 1 if re.findall('c',x) else 0)
df['algorithm'] = df[
    'words'].apply(lambda x: 1 if re.findall('algorithms|algorithm|algo',x) else 0)
df['mysql'] = df[
    'words'].apply(lambda x: 1 if re.findall('mysql',x) else 0)
df['javascript'] = df[
    'words'].apply(lambda x: 1 if re.findall('js|javascript',x) else 0)
df['erlang'] = df[
    'words'].apply(lambda x: 1 if re.findall('erlang',x) else 0)
df['impala'] = df[
    'words'].apply(lambda x: 1 if re.findall('impala',x) else 0)
df['geospatial'] = df[
    'words'].apply(lambda x: 1 if re.findall('geospatial',x) else 0)
df['hadoop'] = df[
    'words'].apply(lambda x: 1 if re.findall('hadoop',x) else 0)
df['sas'] = df[
    'words'].apply(lambda x: 1 if re.findall('sas',x) else 0)
df['java'] = df[
    'words'].apply(lambda x: 1 if re.findall('java',x) else 0)
df['hive'] = df[
    'words'].apply(lambda x: 1 if re.findall('hive',x) else 0)
df['matlab'] = df[
    'words'].apply(lambda x: 1 if re.findall('matlab',x) else 0)
df['pig'] = df[
    'words'].apply(lambda x: 1 if re.findall('pig',x) else 0)
df['spss'] = df[
    'words'].apply(lambda x: 1 if re.findall('spss',x) else 0)
df['cloud'] = df[
    'words'].apply(lambda x: 1 if re.findall('cloud',x) else 0)
df['scala'] = df[
    'words'].apply(lambda x: 1 if re.findall('scala',x) else 0)
df['unix'] = df[
    'words'].apply(lambda x: 1 if re.findall('unix',x) else 0)
df['cnup'] = df[
    'words'].apply(lambda x: 1 if re.findall('cnup',x) else 0)
df['aws'] = df[
    'words'].apply(lambda x: 1 if re.findall('aws',x) else 0)
df['spark'] = df[
    'words'].apply(lambda x: 1 if re.findall('spark',x) else 0)
df['cassandra'] = df[
    'words'].apply(lambda x: 1 if re.findall('cassandra',x) else 0)
df['svp'] = df[
    'words'].apply(lambda x: 1 if re.findall('svp',x) else 0)
df['tableau'] = df[
    'words'].apply(lambda x: 1 if re.findall('tableau',x) else 0)
df['api'] = df[
    'words'].apply(lambda x: 1 if re.findall('api',x) else 0)
df['linux'] = df[
    'words'].apply(lambda x: 1 if re.findall('linux',x) else 0)
df['excel'] = df[
    'words'].apply(lambda x: 1 if re.findall('excel',x) else 0)
df['ruby'] = df[
    'words'].apply(lambda x: 1 if re.findall('ruby',x) else 0)

In [21]:
city_df = pd.get_dummies(df['city'])

In [22]:
# Baseline

base_accuracy = 1.0 - df['above_107k'].mean()

In [23]:
level_df = df[['senior','junior','manager','assistant','director',
               'associate','vp','master','phd','above_107k']]
key_words = ['big_data','data_scientist','analyst','statistic','engineer','deep_learning',
              'machine_learning','developer','programmer','operations','devops','development',
              'government','nlp','full_stack','r','sql','python','ml','c++','algorithm','mysql',
              'javascript','erlang','impala','geospatial','hadoop','sas','java','hive','matlab',
              'pig','spss','cloud','scala','unix','cnup','aws','spark','cassandra','svp',
              'tableau','api','linux','excel','ruby']

In [24]:
y = df['above_107k']
X = city_df

In [25]:
import statsmodels.api as sm

logit_model = sm.Logit(y,X)
result=logit_model.fit()
print result.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.580944
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:             above_107k   No. Observations:                  406
Model:                          Logit   Df Residuals:                      388
Method:                           MLE   Df Model:                           17
Date:                Mon, 16 Jan 2017   Pseudo R-squ.:                  0.1590
Time:                        21:55:37   Log-Likelihood:                -235.86
converged:                      False   LL-Null:                       -280.45
                                        LLR p-value:                 8.617e-12
=================================================================================
                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
Atlanta          -1.3218      0.563     -2.349      0.019        -2.425    -0.219
Austin           -0.2877      0.764     -0.377      0.706        -1.785     1.209
Boston            0.3878      0.297      1.305      0.192        -0.195     0.970
Chicago           0.2364      0.345      0.684      0.494        -0.441     0.913
Dallas           -0.6931      0.612     -1.132      0.258        -1.893     0.507
Denver           -2.0149      0.753     -2.677      0.007        -3.490    -0.539
Houston         -13.9867    363.115     -0.039      0.969      -725.679   697.706
Los+Angeles      -0.0870      0.417     -0.208      0.835        -0.905     0.731
Miami           -24.4518   8.33e+04     -0.000      1.000     -1.63e+05  1.63e+05
New+York         -0.3973      0.202     -1.967      0.049        -0.793    -0.001
Palo+Alto         0.8650      0.421      2.052      0.040         0.039     1.691
Philadelphia      0.5596      0.627      0.893      0.372        -0.669     1.788
Phoenix         -24.4518   8.33e+04     -0.000      1.000     -1.63e+05  1.63e+05
Pittsburgh      -13.9867    363.115     -0.039      0.969      -725.679   697.706
Portland        -19.1517   1.44e+04     -0.001      0.999     -2.83e+04  2.82e+04
San+Diego        -0.4055      0.645     -0.628      0.530        -1.671     0.860
San+Francisco     1.3083      0.356      3.671      0.000         0.610     2.007
Seattle           0.1054      0.459      0.229      0.819        -0.795     1.006
=================================================================================

/Users/Leyla/anaconda/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

Atlanta          2.666667e-01
Austin           7.500000e-01
Boston           1.473684e+00
Chicago          1.266667e+00
Dallas           5.000000e-01
Denver           1.333333e-01
Houston          8.426937e-07
Los+Angeles      9.166667e-01
Miami            2.402700e-11
New+York         6.721311e-01
Palo+Alto        2.375000e+00
Philadelphia     1.750000e+00
Phoenix          2.402700e-11
Pittsburgh       8.426937e-07
Portland         4.814026e-09
San+Diego        6.666667e-01
San+Francisco    3.700000e+00
Seattle          1.111111e+00
dtype: float64

In [28]:
y = df['above_107k']
X = df[key_words]

In [29]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
rfe = RFE(model,5,step=1)
rfe = rfe.fit(X,y)

print(rfe.support_)
print(rfe.ranking_)

[False  True False False False False False False False False False False
 False  True False False False False False  True False False False False
 False False False False False False False False  True  True False False
 False False False False False False False False False False]
[15  1 38 39 19 37  5 41  8 32 26 13 40  1 36 25 28 35 10  1 20 18  9 34  4
 16 24 27 42 33  3 14  1  1 11 12 17 22 21 23 30  2 31 29  6  7]

In [30]:
# top 5 strong features

for i,j in zip(X.columns, rfe.ranking_):
    if j < 6:
        print (i,j)

('data_scientist', 1)
('machine_learning', 5)
('nlp', 1)
('c++', 1)
('impala', 4)
('matlab', 3)
('spss', 1)
('cloud', 1)
('tableau', 2)

In [31]:
from sklearn.model_selection import train_test_split

y = df['above_107k']
X = df[['senior','junior','manager','assistant','director','associate',
        'vp','master','phd']]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

lr = LogisticRegression()
model = lr.fit(X_train, y_train)
train_score = lr.score(X_train, y_train)
test_score = lr.score(X_test, y_test)

predict = lr.predict_proba(X_test)
print('train_score:', train_score, 'test_score:', test_score)

('train_score:', 0.63486842105263153, 'test_score:', 0.51960784313725494)

In [33]:
from sklearn.metrics import classification_report

y_true = y_test
y_pred = lr.predict(X_test)
target_names = ['senior','junior','manager','assistant','director','associate',
                'vp','master','phd']

print(classification_report(y_true, y_pred, target_names=target_names))

             precision    recall  f1-score   support

     senior       0.51      0.78      0.61        50
     junior       0.56      0.27      0.36        52

avg / total       0.53      0.52      0.49       102

In [34]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

knn = KNeighborsClassifier()

scores = cross_val_score(knn, X, y, cv=10)
print scores
print np.mean(scores)

[ 0.6097561   0.63414634  0.6097561   0.48780488  0.51219512  0.58536585
  0.48780488  0.5         0.55        0.58974359]
0.556657285804

In [35]:
knn.fit(X, y)
predicted = knn.predict(X)
predicted_probs = knn.predict_proba(X)
high_salary_preds = pd.DataFrame({
        'y_true':y,
        'y_hat':predicted,
        'high_salary_prob':predicted_probs[:, 1],
        'low_salary_prob':predicted_probs[:, 0]
    })

high_salary_preds.head(10)

   high_salary_prob  low_salary_prob  y_hat  y_true
0               0.2              0.8      0       0
1               0.2              0.8      0       0
2               0.2              0.8      0       0
3               0.2              0.8      0       0
4               0.2              0.8      0       0
5               0.0              1.0      0       0
6               0.2              0.8      0       0
7               0.2              0.8      0       0
8               0.2              0.8      0       0
9               0.2              0.8      0       1

In [36]:
from sklearn.metrics import confusion_matrix 

confusion_matrix(y, predicted)

array([[214,   3],
       [172,  17]])

In [37]:
target_names = ['senior','junior','manager','assistant','director','associate',
        'vp','master','phd']

print(classification_report(y, predicted, target_names=target_names))

             precision    recall  f1-score   support

     senior       0.55      0.99      0.71       217
     junior       0.85      0.09      0.16       189

avg / total       0.69      0.57      0.46       406

In [38]:
from sklearn.metrics import accuracy_score

# Accuracy: proportion of high salary correctly predicted by 
# the model

accuracy_score(y, predicted)

0.56896551724137934

In [39]:
y = df['above_107k']
X = df[key_words]

In [40]:
from sklearn.preprocessing import StandardScaler

knn = KNeighborsClassifier()

scores = cross_val_score(knn, X, y, cv=10)
print scores
print np.mean(scores)

[ 0.82926829  0.7804878   0.70731707  0.65853659  0.75609756  0.73170732
  0.65853659  0.575       0.95        0.84615385]
0.749310506567

In [41]:
knn.fit(X, y)
predicted = knn.predict(X)
predicted_probs = knn.predict_proba(X)
contingency_table = pd.DataFrame(confusion_matrix(y, predicted),
                                 columns=['Predicted 0', 'Predicted 1'],
                                 index=['Actual 0', 'Actual 1'])

In [42]:
contingency_table

          Predicted 0  Predicted 1
Actual 0          186           31
Actual 1           48          141

In [43]:
accuracy_score(y, predicted)

0.80541871921182262

In [44]:
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.model_selection import GridSearchCV

In [45]:
lr = LogisticRegression()

params = {
    'penalty':['l1','l2'], #l1 is lasso, l2 is ridge EL-1, EL-2, NOT one-one, one-two
    'solver':['liblinear'],
    'C':np.linspace(0.0001, 10, 200)
}

gs = GridSearchCV(lr, params, cv=10, verbose=1)
gs.fit(X, y)

Fitting 10 folds for each of 400 candidates, totalling 4000 fits

[Parallel(n_jobs=1)]: Done 4000 out of 4000 | elapsed:   38.2s finished

GridSearchCV(cv=10, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'penalty': ['l1', 'l2'], 'C': array([  1.00000e-04,   5.03508e-02, ...,   9.94975e+00,   1.00000e+01]), 'solver': ['liblinear']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=1)

In [46]:
print gs.best_score_
print gs.best_params_
gs.best_estimator_.coef_

0.773399014778
{'penalty': 'l2', 'C': 0.3518552763819095, 'solver': 'liblinear'}

array([[ 0.3154704 ,  1.16743386, -0.04421938, -0.10933542,  0.27031871,
         0.08250311,  0.48821779,  0.15014346, -0.39590325,  0.08280744,
         0.08840517, -0.35445553, -0.01790336,  0.41438385,  0.04853779,
         0.11302301, -0.07110818, -0.00924679,  0.2772703 ,  0.95473891,
        -0.3023672 ,  0.14038039,  0.22506689,  0.06154385,  0.23370307,
        -0.21801292, -0.16731417, -0.2242377 , -0.09477753, -0.00900597,
        -0.29867827, -0.24270904, -0.47031489, -0.70729459,  0.25236385,
        -0.22293175, -0.15023165,  0.08099666, -0.20456088,  0.14038039,
        -0.08001636, -0.38241872,  0.09713396, -0.11537232, -0.27446443,
         0.21235187]])

In [47]:
coefs_vars = pd.DataFrame({
        'coef':gs.best_estimator_.coef_[0],
        'variable':X.columns,
        'abscoef':np.abs(gs.best_estimator_.coef_[0])
    })
coefs_vars.sort_values('abscoef', ascending=False, inplace=True)
coefs_vars[coefs_vars.coef != 0].head(6)

     abscoef      coef          variable
1   1.167434  1.167434    data_scientist
19  0.954739  0.954739               c++
33  0.707295 -0.707295             cloud
6   0.488218  0.488218  machine_learning
32  0.470315 -0.470315              spss
13  0.414384  0.414384               nlp

In [48]:
knn = KNeighborsClassifier()
knn_params = {
    'n_neighbors':range(1,20,2),
    'weights':['uniform','distance']
}

gs = GridSearchCV(knn, knn_params, cv=10, verbose=1)
gs.fit(X, y)

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=1)]: Done 200 out of 200 | elapsed:    5.0s finished

GridSearchCV(cv=10, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19], 'weights': ['uniform', 'distance']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=1)

In [49]:
print gs.best_score_
print gs.best_params_
gs.best_estimator_.n_neighbors

0.770935960591
{'n_neighbors': 9, 'weights': 'uniform'}

9

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
CountVectorizer()